

html, body {
    max-width: 100%;
    overflow-x: hidden;




}


#pictures {
  padding-top: 130px;
}


/*comment css starts */


    blockquote {
border:none;
font-family:Georgia, "Times New Roman", Times, serif;
margin-bottom:-30px;
}

blockquote h3 {
    font-size:21px;
}

blockquote h3:before { 
    content: open-quote;
    font-weight: bold;
    font-size:50px;
    color:rgb(165, 8, 8);
} 
blockquote h3:after { 
    content: close-quote;
    font-weight: bold;
    font-size:50px;
    color:rgb(165, 8, 8);
}


/*comment css ends */
/*style for gallery */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;

  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(179, 179, 179);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    0% { opacity: 0.4; visibility: visible;}
    100% { opacity: 1.0; visibility: visible;}

}

@keyframes fade {
    0% { opacity: 0.4; visibility: visible;}
    100% { opacity: 1.0; visibility: visible;}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* style for gallery ends */

.about {
  border: 1px solid black;
  

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/* gallery ends */ 



   

.backGrey {
  background-color: grey;
}

.fa {
  padding: 8px;
  font-size: 25px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.checked {
  color: orange;
}

.fa:hover {
    opacity: 0.7;
}


.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #125688;
  color: white;
}


/* style for mini gallery */

#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}

#myImg:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover {
   box-shadow: 0 0 2px 1px rgba(219, 39, 39);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
             max-width: 100vh;

            margin: auto;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 250px;
  right: 300px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
    height: auto;
  }
}
#anim {
  color: white;

}

#anim:hover {

  animation-name: colorful;
  animation-duration: 1s;
}
@keyframes colorful {
  0% {
    color: grey;
  
  }
  30% {
    color: rgb(186, 10, 10);
  }
  100% {
    color: white;
  }
}

#buttonAnim:hover {

  animation-name: backB;
  animation-duration: 2s;
}
@keyframes backB {
  0% {
    background-color: white;
  
  }
  30% {
    background-color: rgb(186, 10, 10);
  }
  100% {
    background-color: rgb(232, 218, 218);
  }
}


.article {
  padding: 30px;

}

.collapsible {
  background-color: rgb(255, 231, 219); 
  color: black; 
  border: 2px solid rgb(99, 22, 22);
  border-radius: 20px;
  margin: 24px;
  margin-right: 24px;
}

.collapsible:hover {
  background-color: rgb(232, 218, 218);
  color: black; 
  border: 2px solid rgb(99, 22, 22);

  border-radius: 20px;
}



section {
      padding-top: 50px;
    margin-top: -50px;
}

#about {
  position: relative;
  top: 84px;
    line-height: 1.7;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(99, 22, 22);
  font-weight: 900;
}

#hello {
  position: relative;
  top: 84px;
    line-height: 1.7;
  padding: 30px;

  
  font-weight: 900;
}

/* dropdown css 
color for button so it is the same like nav  rgb(34,34,34);
 */

.dropbtn {
  background-color: rgb(34,34,34);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:  rgb(34,34,34);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

footer {
  margin: 50px;

}

article {
  background-color: rgb(190, 200, 216);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

